<% content_for :body_class, 'game' %>
<% content_for :ng_app,     'game' %>

<div ng-controller="GameController" ng-class="{ 'sidebar-open': displaySidebar }">
  <nav class="sidebar">
    <ul>
      <li class="basic-data">
        <div class="media media-center">
          <div class="media-figure">
            <i class="fa fa-user"></i>
          </div>

          <div class="media-body">
            <h2>Legolas</h2>

            <div class="info">
              <p>Male, 21 years, 1.77m / 67kg</p>
              <p>Wood Elf, Ranger</p>
              <p>Low Nobility</p>
            </div>
          </div>
        </div>
      </li>

      <li class="level">
        <a href="" class="media media-center">
          <div class="media-figure">
            <i class="fa fa-chevron-circle-up"></i>
          </div>

          <div class="media-body">
            <h2>Level <strong>2</strong></h2>

            <dl>
              <dt>Experience</dt>
              <dd>18</dd>
            </dl>

            <dl>
              <dt>Next Level</dt>
              <dd>21</dd>
            </dl>
          </div>
        </a>
      </li>

      <li class="attributes">
        <div class="media media-center">
          <div class="media-figure">
            <i class="fa fa-star"></i>
          </div>

          <div class="media-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Int</th>
                  <th>Aur</th>
                  <th>Cha</th>
                  <th>Str</th>
                  <th>Con</th>
                  <th>Dex</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>18</td>
                  <td>13</td>
                  <td>12</td>
                  <td>18</td>
                  <td>17</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>+1</td>
                  <td>0</td>
                  <td>+1</td>
                  <td>0</td>
                  <td>-1</td>
                  <td>+1</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>13</td>
                  <td>13</td>
                  <td>18</td>
                  <td>16</td>
                  <td>21</td>
                </tr>
                <tr>
                  <td>+3</td>
                  <td>+1</td>
                  <td>+1</td>
                  <td>+3</td>
                  <td>+2</td>
                  <td>+5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <section class="main-content">
    <section class="top-bar">
      <ul>
        <li title="Heroic Energy" class="fillable-bar" ng-style="{ 'background-size': '100% ' + (16 * 100 / 20) + '%' }">
          <div class="media media-center">
            <div class="media-figure">
              <i class="fa fa-flash"></i>
            </div>

            <div class="media-body">
              <span class="current">16</span>
              <span class="total">20</span>
            </div>
          </div>
        </li>

        <li title="Physical Energy" class="fillable-bar red-bar" ng-style="{ 'background-size': '100% ' + (9 * 100 / 11) + '%' }">
          <div class="media media-center">
            <div class="media-figure">
              <i class="fa fa-heart"></i>
            </div>

            <div class="media-body">
              <span class="current">9</span>
              <span class="total">11</span>
            </div>
          </div>
        </li>

        <li title="Karma" class="fillable-bar blue-bar" ng-style="{ 'background-size': '100% ' + (3 * 100 / 5) + '%' }">
          <div class="media media-center">
            <div class="media-figure">
              <i class="fa fa-magic"></i>
            </div>

            <div class="media-body">
              <span class="current">3</span>
              <span class="total">5</span>
            </div>
          </div>
        </li>

        <li title="Defense">
          <div class="media media-center">
            <div class="media-figure">
              <i class="fa fa-shield"></i>
            </div>

            <div class="media-body">
              <span class="current">9</span>
              <span class="total">12</span>
            </div>
          </div>
        </li>

        <li title="Current Weapon">
          <a href="" class="media media-center">
            <div class="media-figure">
              <i class="fa fa-legal"></i>
            </div>

            <div class="media-body">
              <h3>Short Sword</h3>
            </div>
          </a>
        </li>

        <li title="Current Armor">
          <a href="" class="media media-center">
            <div class="media-figure">
              <i class="fa fa-circle"></i>
            </div>

            <div class="media-body">
              <h3>Light Leather</h3>
            </div>
          </a>
        </li>
      </ul>
    </section>

    <a href="" ng-click="displaySidebar = !displaySidebar">Toggle Sidebar</a>
  </section>
</div>
